@font-face
    font-family 'icomoon'
    src url('../fonts/icomoon.eot?wwycmh')
    src url('../fonts/icomoon.eot?wwycmh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wwycmh') format('truetype'),
    url('../fonts/icomoon.woff?wwycmh') format('woff'),
    url('../fonts/icomoon.svg?wwycmh#icomoon') format('svg')
    font-weight normal
    font-style normal

[class^="icon-"], [class*=" icon-"]
    font-family 'icomoon'
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

.icon-home
    &:before
        content "\e900"

.icon-newspaper
    &:before
        content "\e901"

.icon-pencil2
    &:before
        content "\e902"

.icon-pen
    &:before
        content "\e903"

.icon-camera
    &:before
        content "\e904"

.icon-play
    &:before
        content "\e905"

.icon-books
    &:before
        content "\e906"

.icon-profile
    &:before
        content "\e907"

.icon-folder-open
    &:before
        content "\e908"

.icon-phone
    &:before
        content "\e909"

.icon-address-book
    &:before
        content "\e90a"

.icon-envelop
    &:before
        content "\e90b"

.icon-location2
    &:before
        content "\e91f"

.icon-undo2
    &:before
        content "\e917"

.icon-redo2
    &:before
        content "\e918"

.icon-bubbles
    &:before
        content "\e90c"

.icon-user-tie
    &:before
        content "\e919"

.icon-key
    &:before
        content "\e90d"

.icon-cogs
    &:before
        content "\e90e"

.icon-briefcase
    &:before
        content "\e91a"

.icon-menu
    &:before
        content "\e91b"

.icon-cloud
    &:before
        content "\e90f"

.icon-sphere
    &:before
        content "\e91c"

.icon-link
    &:before
        content "\e910"

.icon-checkmark
    &:before
        content "\e91d"

.icon-checkmark2
    &:before
        content "\e91e"

.icon-exit
    &:before
        content "\e911"

.icon-terminal
    &:before
        content "\e920"

.icon-mail4
    &:before
        content "\e921"

.icon-google-plus2
    &:before
        content "\e912"

.icon-google-plus3
    &:before
        content "\e922"

.icon-facebook2
    &:before
        content "\e913"

.icon-facebook3
    &:before
        content "\e923"

.icon-twitter2
    &:before
        content "\e914"

.icon-twitter3
    &:before
        content "\e924"

.icon-dropbox
    &:before
        content "\e915"

.icon-skype
    &:before
        content "\e916"

.icon-mail
    &:before
        content "\e925"

