@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?wwycmh');
    src:url('../fonts/icomoon.eot?wwycmh#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?wwycmh') format('truetype'),
        url('../fonts/icomoon.woff?wwycmh') format('woff'),
        url('../fonts/icomoon.svg?wwycmh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {content: "\e900";}
.icon-newspaper:before {content: "\e901";}
.icon-pencil2:before {content: "\e902";}
.icon-pen:before {content: "\e903";}
.icon-camera:before {content: "\e904";}
.icon-play:before {content: "\e905";}
.icon-books:before {content: "\e906";}
.icon-profile:before {content: "\e907";}
.icon-folder-open:before {content: "\e908";}
.icon-phone:before {content: "\e909";}
.icon-address-book:before {content: "\e90a";}
.icon-envelop:before {content: "\e90b";}
.icon-location2:before {content: "\e91f";}
.icon-undo2:before {content: "\e917";}
.icon-redo2:before {content: "\e918";}
.icon-bubbles:before {content: "\e90c";}
.icon-user-tie:before {content: "\e919";}
.icon-key:before {content: "\e90d";}
.icon-cogs:before {content: "\e90e";}
.icon-briefcase:before {content: "\e91a";}
.icon-menu:before {content: "\e91b";}
.icon-cloud:before {content: "\e90f";}
.icon-sphere:before {content: "\e91c";}
.icon-link:before {content: "\e910";}
.icon-checkmark:before {content: "\e91d";}
.icon-checkmark2:before {content: "\e91e";}
.icon-exit:before {content: "\e911";}
.icon-terminal:before {content: "\e920";}
.icon-mail4:before {content: "\e921";}
.icon-google-plus2:before {content: "\e912";}
.icon-google-plus3:before {content: "\e922";}
.icon-facebook2:before {content: "\e913";}
.icon-facebook3:before {content: "\e923";}
.icon-twitter2:before {content: "\e914";}
.icon-twitter3:before {content: "\e924";}
.icon-dropbox:before {content: "\e915";}
.icon-skype:before {content: "\e916";}
.icon-mail:before {content: "\e925";}



body {
    background: #F3F3F3;
    background: url(../Img/Fondo3.png);
    /*background: url(../Img/Fondo5.png);*/
}


/*  Header  */
.Header {
    height: 72px;
    z-index:10;
    /*background: #545454;*/
    background:url(../Img/Fondo4.png);
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    -webkit-box-shadow: 0px 4px 9px -4px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 4px 9px -4px rgba(0,0,0,0.26);
    box-shadow: 0px 4px 9px -4px rgba(0,0,0,0.26);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
}

/* Cambiar por .header *  */
.Header-name, .Header-description, .MainMenu, .MainMenu-item{
    display:inline-block;
    vertical-align: middle;
}

.Header-name {
    height: 72px;
    /*color:#58d68d;*/
    color:#10CAF7;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

.Header-description{
    font-size: 1.2rem;
    font-style: italic;
    vertical-align:-1rem;
    /*color:gray;*/
    color:white;
    font-weight: 300;
    margin:0 5rem 0 .2rem;
}


/*  Menu  */
.MainMenu { 
    
}

.MainMenu-list {
    font-size: 0;/* fix - Espacio entre elementos */
    margin:0;
    padding: 0;
}

.MainMenu-item {
    /*margin:-3px;*/
    list-style: none;
    padding: 0;
    margin:0;
    /**/
    height: 72px;
    line-height: 72px;
    /**/
}

.MainMenu-link {
    /*padding: 22px 16px;*/
    padding: 0 1rem;
    display: block;
    text-decoration: none;
    /*color: #58d68d;*/
    color:#10CAF7;
    font-weight: 300;
    font-size: 1.3rem;
    -webkit-transition: all .1s;
    -moz-transition: all .1s; 
    -ms-transition: all .1s;  
    transition: all .1s;
    outline:0;
}

.MainMenu-link--selected{
    /*border-top: 4px solid #58d68d;*/
    border-top:4px solid #10CAF7;
    line-height: 64px;  
    height: 68px;
}

.MainMenu-link:hover{
    color:white;
    /*background: #58d68d;*/
    background: #10CAF7;
}


/*  Content  */
.MainContent {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.26);

    padding: 1.8rem;
    margin-left:auto;
    margin-right: auto;
    /*background: white;*/
    background: #222;
    /*background: rgba(255, 255, 255, 0.5);*/
    margin-top:5.4rem;
    margin-bottom:1.5rem;
    max-width: 1000px;
    height: auto;
}

.MainContent-header div{
    /*background: #d3d3d3;*/
    background: #525252;
    text-align: center;
    /*color: gray;*/
    color:#10CAF7;
    font-size: 1.5rem;
    padding: 0.7rem 0;
    margin-bottom:0.9rem;
}

.MainContent-header span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    margin: 0 0.5rem;
    color:white;
}

.MainContent-header img{
    width: 100%;
    height: auto;
}

.MainContent-section{

}

/*  Home  */
.MainContent-articleTitle{
    text-align: center;
    font-weight: 700;
    color:black;
    /*background: #58d68d;*/
    background: #10CAF7;
}

.MainContent-article{
    margin:1rem 0 3rem 0;
    text-align: justify;
    color:lightgray;
}

.MainContent-article p {
    padding:0 1.5rem;
}

.MainContent-articleList{
    list-style: disc url(../Img/list-blue.png);
    margin: 0 1rem;
}

.MainContent-articleItem{
    margin:0.5rem 0;
}


/*  Team  */
.Team-article {
    margin:3rem 0 4rem 0;
    font-size: 0;
}

.Team-img {
    display: inline-block;
    min-width: 27%;
    margin:0;
    text-align: center;
}

.Team-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.Team-Description {
    font-size: 1rem;
    margin:0 0.6rem;
    display: inline-block;
    vertical-align: top;
    max-width: 70%;
    text-align: justify;
    color:#d3d3d3;
}

.Team-profileTitle{
    margin-top: 0;
    text-align: center;
    font-weight: 700;
    color:black;
    /*background: #58d68d;*/
    background: #10CAF7;
    font-size: 1.05rem;
}

.Team-contact{
    text-align: justify;
    list-style: none;
    margin:0;
    padding:0 1rem;
}

.Team-contact li{
    color:#10CAF7;
    padding: .3rem 0;
    font-size: 1.2rem;
}

.Team-contact span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin: 0 1rem;
    color:#d3d3d3;   
}
.Team-Description p{
    padding: 0 1rem;
    font-weight: 300;
}



/*  ResponsiveSlider*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.Service-slider * {
    padding: 0;
    margin: 0;
}

.Service-slider a{
    color: #222;
}

.large-btns_nav {
  z-index: 5;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.4;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("../Img/themes.gif") no-repeat left 50%;
  width: 38px;
}

.large-btns_nav:active {
  opacity: 0.6;
}

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
}

.large-btns_nav:focus {
  outline: none;
}

.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
}

.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
}

.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
}

.large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }



/*  Servicios  */
.Service-slider{
    position: relative;
    margin: 1rem 0;
}

.Service-article{
    overflow: hidden;
    margin:2.5rem 0;
}

.Service-articleTitle{
    margin:0 0 1rem 0;
    padding: .4rem 0;
    text-align: center;
    /*background: #58d68d;*/
    background: #10CAF7;
    color:#575757;
    font-size: 1.7rem;
}

.Service-articleTitle span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    margin: 0 0.5rem;
    color:black;
}

.Service-articleSubTitle{
    border-radius: 10px;
    text-align: justify;
    padding: .5rem 1rem;
    /*background: #f1f1f1;*/
    background: #2C2C2C;
    color:#d3d3d3;
    font-weight: 400;
}

.Service-Description{
    text-align: justify;
    color:#d3d3d3;
    padding:0 1.5rem;
    font-weight: 400;
}

.Service-article ul{

    margin:1rem 0;
    padding: 0 4rem;
    list-style: disc url(../Img/list-2.png);
}

.Service-article ul li{
    font-weight: 400;
    padding: 2px 0;
}

.Service-article a{
	text-decoration: none;
	color:white;
	outline: 0;
}

.Service-article a:hover{
	color:#10CAF7;
}

/* Contacto*/
.Contact-form{
    padding: 0;
    margin: 2.5rem 0;
    position: relative;
    overflow: hidden;
}

/* Custom Form */
#form-main{
    width:100%;
    float:left;
    padding-top:0px;
}

#form-div {
    background-color:rgba(72,72,72,0.4);
    padding-left:35px;
    padding-right:35px;
    padding-top:35px;
    padding-bottom:50px;
    width: 450px;
    float: left;
    left: 50%;
    position: relative;
    margin-top:30px;
    margin-left: -260px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.feedback-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #10CAF7;
    color: black;
    outline: none;
    padding: 13px 13px 13px 54px;
}

/* Icons ---------------------------------- */
#form-name{
    background-image: url(../Img/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#form-email{
    background-image: url(../Img/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#form-comment{
    background-image: url(../Img/comment.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color:white;
}

input:invalid:focus{
    border-color: white;
}

#button-blue{
    font-family: 'Oswald', sans-serif;
    float:left;
    width: 100%;
    border: none;
    cursor:pointer;
    background-color: #10CAF7;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition:all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#button-blue:hover{
    background-color: white;
    color: #10CAF7;
}

@media only screen and (max-width: 580px) {
    #form-div{
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}



/*  Social Aside  */
.SocialAside *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.SocialAside{
    z-index:8;
    display: inline-block;
    position:fixed;
    bottom:40%;
    left: 0;
}

.SocialAside-list{
    list-style: none;
    padding:0;
    margin:0;
}

.SocialAside-item{
    /*overflow: hidden;*/
    /*clear: both;*/
    /*content: " ";*/
    height: 50px;
    width: 50px;
    /*background: #bfbfbf;*/
    text-align: center;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -ms-transition:all 0.3s;
    transition:all 0.3s;
    margin:.1rem 0;
}


.SocialAside-link { 
    color:white;
    text-decoration: none;
    font-family: 'icomoon';
    font-size: 30px;
    line-height: 1.6;
    outline: 0;
}

.SocialAside-item:hover{
    width: 75px;
    /*background: #58d68d;*/
    background: #10CAF7;
    /*background: #40ee89;*/
}

/*  Footer  */
.Footer {
    -webkit-box-shadow: 0px -4px 6px -3px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px -4px 6px -3px rgba(0,0,0,0.26);
    box-shadow: 0px -4px 6px -3px rgba(0,0,0,0.26);

    position: relative;
    text-align: center;
    /*background:rgb(229, 229, 229);*/
    /*background: #525252;*/
    /*background:#2C2C2C;*/
    background:url(../Img/Fondo4.png);
    padding:0;
}

.Footer-div {
    margin:0 1rem;
    padding: .8rem;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    max-width:250px;
    color:#d3d3d3;
}

.Footer-Title{
    margin:0;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

.Footer-list{
    text-align: left;
    padding: 0;
    margin:0;
    list-style: none;
}

.Footer-list li{
    margin:.5rem 0;
}

.Footer-list p{
    text-align: left;
    margin:0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    width: 190px;
}

.Footer-list span{
    display: inline-block;
    vertical-align: middle;
    padding:0;
    font-size: 1.5rem;
    margin:0 1rem;
}

.Social-Title{
    margin:0;
    font-size: 1rem;
    font-weight: 400;
}

.Social-list{
    list-style: none;
    padding:0;
    margin: .5rem 0 0 0;
}

.Social-list li{
    display: inline;
    margin:0 .5rem;
}

.Social-list li a{
    font-size: 1.5rem;
    text-decoration: none;
    color:#d3d3d3;
    outline: 0;
}

.Dev-text{
    font-size: .9rem;
    font-weight: 300;
    padding:.5rem;
    margin:0;
}

.Dev-text a{
    text-decoration: none;
    color:cyan;
    outline:0;
}

.Footer-redisab{
	width: 110px;
	height: auto;
}


/* Responsive */
@media only screen and (max-width: 1060px) {
    .Header{
        height: 62px;
    }
    .Header-name{
        height: 62px;
        font-size: 2.5rem;
    }
    .Header-description{
        font-size: 1rem;
        vertical-align:-0.8rem;
        margin:0 1rem 0 .2rem;
    }
    .MainMenu-item {
        height: 62px;
        line-height: 62px;
    }
    .MainMenu-link {
        padding: 0 1rem;
        font-size: 1.3rem;
    }
    .MainMenu-link--selected{
        border-top:4px solid #10CAF7;
        line-height: 54px;  
        height: 58px;
    }
    .SocialAside{
        display: none;
    }
    .Footer-div{
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 920px) {
    .Header{
        position:static;
    }
    .MainMenu { 
        position: static;
        display: block;
    }
    .MainMenu-item {
        height: 52px;
        line-height: 52px;
    }
    .MainMenu-link--selected{
        border-top:4px solid rgba(0,0,0,0);
        border-bottom:4px solid #10CAF7;
        line-height: 44px;  
        height: 48px;
    }
    .MainContent{
        margin-top: 3.5rem;
    }
    #button-blue{
        padding-top:10px;
        padding-bottom:10px;
    }
    .ease {
        width: 0px;
        height: 54px;
    }
    .Footer-devBy{
        display: none;
    }
}

@media only screen and (max-width: 820px){
    .Team-img {
        width: auto;
        display: block;
    }
    .Team-Description {
        display: block;
        max-width: 100%;
    }
    .Team-profileTitle {
        margin-top: 2rem;
    }
    .Service-articleTitle{
        font-size: 1.3rem;
    }
    .Service-articleTitle span{
        font-size: 1.3rem;
    }
    .Service-articleSubTitle{
        border-radius: 0px;
    }
    .Service-Description{
        padding:.5rem;
    }
    .Service-article ul{
        padding: 0 2rem;
    }
    .MainContent{
        padding: .5rem;
    }
    .Footer-publi{
		display: none;
    }
}

@media only screen and (max-width: 520px){
    .Header{
        height: auto;
    }
    .MainMenu-item {
        display: block;
        height: 52px;
        line-height: 52px;
    }
    .MainMenu-link--selected{
        border:0;
        line-height: 52px;  
        height: 52px;
    }
    .MainContent{
        margin-top: 1.5rem;
    }
    .MainContent-article p{
        font-weight: 300;
    }
    .MainContent-articleItem{
        font-weight: 300;
    }
    .Service-articleSubTitle{
        text-align: center;
    }
    .Service-Description{
        text-align: left;
        font-weight: 300;
    }
    .Service-article ul li{
        font-weight: 300;
    }
}