<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Equipo - Pafmi.org</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/estilos.css">
        <link rel="stylesheet" type="text/css" href="../Static/css/animate.min.css">
    </head>
    <body>
        <header class="Header">
            <div class="Header-name">
                PAFMI
            </div>
            <div class="Header-description">
                Pedagogías de Afecto e Imaginación
            </div>
            <nav class="MainMenu">
                <ul class="MainMenu-list">
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="index.html">Inicio</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link MainMenu-link--selected" href="equipo.html">Equipo Directivo</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="servicios.html">Servicios</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="contacto.html">Contacto</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="MainContent">
            <section class="MainContent-section">
                <header class="MainContent-header">
                    <div class="icon-address-book animated fadeInUp">
                        <span>Equipo Directivo</span>
                    </div>
                </header>
                <article class="Team-article">
                    <figure class="Team-img">
                        <img src="../Static/Img/Raul.jpg" width="50" height="50">
                    </figure>
                    <div class="Team-Description animated fadeIn">
                        <h3 class="Team-profileTitle">
                            Raúl Guzmán González - Director Administrativo 
                        </h3>
                        <p>
                            Filósofo y candidato a Magíster en filosofía - Universidad de La Salle, experto en cultura de la felicidad y de la paz. Director de la Escuela de Gobierno Red Diálogo de Saberes –REDISAB. Fue profesor universitario y director de la Corporación Oasis – Centro de Estudios sobre la democracia y el fortalecimiento de la sociedad civil. Autor de las obras: Las Huellas de la Esperanza. Editorial Amha 1984 Estrella del Alba Galgallim Ediciones 1.999.
                        </p>
                        <ul class="Team-contact">
                            <li class="icon-phone"><span>311 540 3736</span></li>
                            <li class="icon-envelop"><span>raul.guzman@pafmi.org</span></li>
                        </ul>                        
                    </div>
                </article>
                <article class="Team-article">
                    <figure class="Team-img">
                        <img src="../Static/Img/Rodrigo.jpg" width="50" height="50">
                    </figure> 
                    <div class="Team-Description animated fadeIn">
                        <h3 class="Team-profileTitle">
                            Rodrigo Alejandro Méndez Guzmán - Director Área de Salud
                        </h3>
                        <p>
                            Doctor en medicina de la Escuela Latinoamericana de medicina la Habana Cuba, experto en procesos de humanización de la salud, en políticas públicas del Vivir Bien y en atención a enfermedades prevalentes de la infancia, con énfasis en atención integral en salud a víctimas de violencia sexual. 
                        </p>
                        <ul class="Team-contact">
                            <li class="icon-phone"><span>313 407 1596</span></li>
                            <li class="icon-envelop"><span>rodrigo.mendez@pafmi.org</span></li>
                        </ul>                        
                    </div>               
                </article>
                <article class="Team-article">
                    <figure class="Team-img">
                        <img src="../Static/Img/Luz.jpg" width="50" height="50">
                    </figure>
                    <div class="Team-Description animated fadeIn">
                        <h3 class="Team-profileTitle">
                            Luz Elena Guzmán González - Directora  Área de Educación
                        </h3>
                        <p>
                            Licenciada en ciencias de la educación con especialidad en psicología y pedagogía Universidad Externado de Colombia, especialista en Educación y Orientación Familiar Fundación Universitaria Monserrate, experta en atención a la primera infancia.
                        </p>
                        <ul class="Team-contact">
                            <li class="icon-phone"><span>321 453 8907</span></li>
                            <li class="icon-envelop"><span>luz.guzman@pafmi.org</span></li>
                        </ul>                           
                    </div>                   
                </article>
                <article class="Team-article">
                    <figure class="Team-img">
                        <img src="../Static/Img/Maria.png" width="50" height="50">
                    </figure>
                    <div class="Team-Description">
                        <h3 class="Team-profileTitle">
                            María Mercedes Hernández Henríquez - Directora de Investigación
                        </h3>
                        <p>
                            Doctora en Filología Clásica por la Universidad Autónoma de Madrid en el programa Gramática General y Comparada. Humanista de formación con conocimientos y experiencia en comunicación y liderazgo para la cultura de la felicidad y la paz. Directora del Área de Humanidades de la Fundación Universitaria de Colombia – Uniagraria. Julio 2013 a junio de 2015. Participó en la publicación del Poemario Diez Mujeres Poetas Cantan a la Tierra. Lanzamiento abril del 2015. 
                        </p>
                        <ul class="Team-contact">
                            <li class="icon-phone"><span>301 253 0521</span></li>
                            <li class="icon-envelop"><span>hernandezhenriquez@gmail.com</span></li>
                        </ul>                          
                    </div>                 
                </article>
            </section>
        </div>

        <aside class="SocialAside animated fadeInLeft">
            <ul class="SocialAside-list">
                <li class="SocialAside-item" >
                    <a class="SocialAside-link icon-facebook2" href="https://www.facebook.com/pafmi.pedagogia/" target="_blank"></a>
                </li>
                <li class="SocialAside-item" >
                    <a class="SocialAside-link icon-google-plus2" href="https://plus.google.com/u/0/103526290197815130148/posts" target="_blank"></a>
                </li>
                <li class="SocialAside-item" >
                    <a class="SocialAside-link icon-twitter2" href="https://twitter.com/PAFMI1" target="_blank"></a>
                </li>
                <li class="SocialAside-item" >
                    <a class="SocialAside-link icon-envelop" href="contacto.html"></a>
                </li>
            </ul>
        </aside>

        <footer class="Footer">
            <div class="Footer-div" >
                <h3 class="Footer-Title">PAFMI</h3>
                    Copyright © 2015, Todos los derechos reservados.
            </div>
            <div class="Footer-div">
                <ul class="Footer-list">
                    <li>
                        <span class="icon-location2"></span><p>Bogotá - Colombia</p>
                    </li>
                    <li>
                        <span class="icon-phone"></span><p>3225704</p>
                    </li>
                    <li>
                        <span class="icon-envelop"></span><p>soporte@pafmi.org</p>
                    </li>
                </ul>
            </div>
            <div class="Footer-div">
                <h3 class="Social-Title">
                    Nuestras redes sociales.
                </h3>      
                <ul class="Social-list">
                    <li><a class="icon-facebook3" target="_blank" href="https://www.facebook.com/pafmi.pedagogia/"></a></li>
                    <li><a class="icon-twitter3" target="_blank" href="https://twitter.com/PAFMI1"></a></li>
                    <li><a class="icon-google-plus3" target="_blank" href="https://plus.google.com/u/0/103526290197815130148/posts"></a></li>
                </ul>
                <h4 class="Dev-text">Developed by <a target="_blank" href="https://github.com/JuanJoya">Ing.JuanJoya</a></h4>
            </div>
            <div class="Footer-div Footer-publi">
                <a target="_blank" href="http://www.reddialogodesaberes.org/">
                    <img class="Footer-redisab" src="../Static/Img/redisab.png" height="50" width="100">
                </a>
            </div>
        </footer> 
    </body>
</html>
