<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Inicio - Pafmi.org</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/estilos.css">
        <link rel="stylesheet" type="text/css" href="../Static/css/animate.min.css">
    </head>
    <body>
        <header class="Header">
            <div class="Header-name">
                PAFMI
            </div>
            <div class="Header-description">
                Pedagogías de Afecto e Imaginación
            </div>
            <nav class="MainMenu">
                <ul class="MainMenu-list">
                    <li class="MainMenu-item">
                        <a class="MainMenu-link MainMenu-link--selected" href="index.html">Inicio</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="equipo.html">Equipo Directivo</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="servicios.html">Servicios</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="contacto.html">Contacto</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="MainContent">
            <section class="MainContent-section">
                <header class="MainContent-header">
                    <div class="icon-home animated fadeInUp">
                        <span>Inicio</span>
                    </div>
                    <img src="../Static/Img/PafmiHeader2.jpg" width="100" height="50">
                </header>
                <article class="MainContent-article animated fadeIn">
                    <h3 class="MainContent-articleTitle ">
                        Presentación 
                    </h3>
                    <p>
                        A los hombres y mujeres del siglo XXI, escuchando antiguos y nuevos llamados de la sabiduría, nos corresponde construir horizontes posibles  aptos para el cultivo del mundo interior y exterior. Así las prácticas de la afectividad, los ejercicios de la imaginación creadora, el respeto a la diversidad y el reconocimiento de la multiplicidad de lógicas, son   aspectos que potencializados por un pensamiento flexible, creativo, complejo e incluyente, nos prepara para actuar de una manera holística en concordancia con la vida y nos permite descubrir innumerables caminos y formas de armonía, en esta dirección reflexiona y opera PAFMI – Pedagogías y Terapias del Afecto y la Imaginación.
                    </p>
                </article>
                <article class="MainContent-article animated fadeIn">
                    <h3 class="MainContent-articleTitle">
                        Quienes Somos 
                    </h3>
                    <p>
                        Somos una organización de educación y salud para la felicidad que se fundamenta en pedagogías y terapias del afecto y la imaginación, conformada por un equipo de profesionales de diversas áreas del conocimiento.
                        <br><br>
                        En esta dirección consideramos que vincular de una manera esencial el concepto felicidad a la educación y la salud, genera alternativas que tanto en lo individual como en lo colectivo propenden por un vivir bien y coadyuvan a los procesos de humanización para que el trato en las relaciones no sea menos importante que los avances en ciencia y tecnología.

                    </p>
                </article>
                <article class="MainContent-article">
                    <h3 class="MainContent-articleTitle">
                        Misión
                    </h3>
                    <p>
                       Promover desde la afectividad y la imaginación creadora, la educación y  la salud para la felicidad en diversos sectores de la sociedad, incentivando transformaciones significativas que se orienten a generar cambios mentales, sociales y políticos, instauradores de una nueva cultura más humana en interacción con la vida y el ambiente. 
                    </p>
                </article>
                <article class="MainContent-article">
                    <h3 class="MainContent-articleTitle">
                        Visión
                    </h3>
                    <p>
                        Lograr que nuestros programas e intervenciones impacten a los participantes para vivir <em>la felicidad aquí y ahora</em>. Proponemos que la educación y la salud se orienten hacia la construcción de una cultura de la felicidad, en donde lo fundamental no sea producir y consumir, sino ser feliz y  disfrutar de aquello que poseemos. 
                    </p>
                </article>
                <article class="MainContent-article">
                    <h3 class="MainContent-articleTitle">
                        Principios
                    </h3>
                    <p>
                        <ul class="MainContent-articleList">
                            <li class="MainContent-articleItem">
                                Promover el derecho a la felicidad
                            </li>
                            <li class="MainContent-articleItem">
                                Fomentar conductas solidarias, amables y diversas formas de resolución pacífica de conflictos.
                            </li>
                            <li class="MainContent-articleItem">
                                Resignificar el arte de los afectos y la imaginación creadora como valores esenciales en la cultura de la felicidad y de la paz
                            </li>
                        </ul>
                    </p>
                </article>
            </section>
        </div>

        <aside class="SocialAside animated fadeInLeft">
            <ul class="SocialAside-list">
                <li class="SocialAside-item" >
                    <a class="SocialAside-link icon-facebook2" href="https://www.facebook.com/pafmi.pedagogia/" target="_blank"></a>
                </li>
                <li class="SocialAside-item" >
                    <a class="SocialAside-link icon-google-plus2" href="https://plus.google.com/u/0/103526290197815130148/posts" target="_blank"></a>
                </li>
                <li class="SocialAside-item" >
                    <a class="SocialAside-link icon-twitter2" href="https://twitter.com/PAFMI1" target="_blank"></a>
                </li>
                <li class="SocialAside-item" >
                    <a class="SocialAside-link icon-envelop" href="contacto.html"></a>
                </li>
            </ul>
        </aside>

        <footer class="Footer">
            <div class="Footer-div" >
                <h3 class="Footer-Title">PAFMI</h3>
                    Copyright © 2015, Todos los derechos reservados.
            </div>
            <div class="Footer-div">
                <ul class="Footer-list">
                    <li>
                        <span class="icon-location2"></span><p>Bogotá - Colombia</p>
                    </li>
                    <li>
                        <span class="icon-phone"></span><p>3225704</p>
                    </li>
                    <li>
                        <span class="icon-mail4"></span><p>soporte@pafmi.org</p>
                    </li>
                </ul>
            </div>
            <div class="Footer-div">
                <h3 class="Social-Title">
                    Nuestras redes sociales.
                </h3>      
                <ul class="Social-list">
                    <li><a class="icon-facebook3" target="_blank" href="https://www.facebook.com/pafmi.pedagogia/"></a></li>
                    <li><a class="icon-twitter3" target="_blank" href="https://twitter.com/PAFMI1"></a></li>
                    <li><a class="icon-google-plus3" target="_blank" href="https://plus.google.com/u/0/103526290197815130148/posts"></a></li>
                </ul>
                <h4 class="Dev-text">Developed by <a target="_blank" href="https://github.com/JuanJoya">Ing.JuanJoya</a></h4>
            </div>
            <div class="Footer-div Footer-publi">
                <a target="_blank" href="http://www.reddialogodesaberes.org/">
                    <img class="Footer-redisab" src="../Static/Img/redisab.png" height="50" width="100">
                </a>
            </div>
        </footer> 
    </body>
</html>
