<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Servicios - Pafmi.org</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/estilos.css">
        <link rel="stylesheet" type="text/css" href="../Static/css/animate.min.css">
    </head>
    <body>
        <header class="Header">
            <div class="Header-name">
                PAFMI
            </div>
            <div class="Header-description">
                Pedagogías de Afecto e Imaginación
            </div>
            <nav class="MainMenu">
                <ul class="MainMenu-list">
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="index.html">Inicio</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="equipo.html">Equipo Directivo</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link MainMenu-link--selected" href="servicios.html">Servicios</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="contacto.html">Contacto</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="MainContent">
            <section class="MainContent-section">
                <header class="MainContent-header">
                    <div class="icon-briefcase animated fadeInUp">
                        <span>Nuestros Servicios</span>
                    </div>
                </header>
                <div class="Service-slider">
                    <ul class="rslides">
                        <li><img src="../Static/Img/slider/slide1.jpg" alt=""></li>
                        <li><img src="../Static/Img/slider/slide2.jpg" alt=""></li>
                        <li><img src="../Static/Img/slider/slide3.jpg" alt=""></li>
                        <li><img src="../Static/Img/slider/slide4.jpg" alt=""></li>
                        <li><img src="../Static/Img/slider/slide5.jpg" alt=""></li>
                        <li><img src="../Static/Img/slider/slide6.jpg" alt=""></li>
                    </ul>
                </div>
                <article class="Service-article animated fadeIn">
                    <h3 class="Service-articleTitle icon-books">
                        <span>Educación y Salud para la Felicidad</span>
                    </h3>
                    <div class="Service-articleSubTitle">
                        En el horizonte de la cultura, educación y salud para la felicidad, ofrecemos asesorías a las instituciones en el diseño e implementación de programas y encuentros teórico-prácticos, conferencias y conversatorios sobre los siguientes temas entre otros.
                    </div>
                    <div class="Service-Description">
                        <ul>
                            <li><a target="_blank" href="">El diálogo como arte de vivir y amar aplicando la enseñanza y el aprendizaje, a la relación padres e hijos, pareja, médico-paciente</a></li>
                            <li><a target="_blank" href="">El arte de la alimentación saludable</a></li>
                            <li><a target="_blank" href="">La cátedra de la paz en el marco de una cultura de la felicidad</a></li>
                            <li><a target="_blank" href="">Puntos de encuentro Filosofía-poesía</a></li>
                            <li><a target="_blank" href="">Encuentros con el niño interior</a></li>
                            <li><a target="_blank" href="">Viaje imaginario al Oráculo de Delfos</a></li>
                        </ul>
                    </div>
                </article>
               <article class="Service-article">
                    <h3 class="Service-articleTitle icon-books">
                        <span>Atención a la Primera Infancia</span>
                    </h3>
                    <div class="Service-articleSubTitle">
                        Asesorías para instituciones de atención a la primera infancia                  
                    </div>
                    <div class="Service-Description">
                        <ul>
                            <li><a target="_blank" href="">Lineamientos técnicos sobre educación inicial</a></li>
                        </ul>

                        Los lineamientos técnicos de educación inicial son los estándares de calidad que deben cumplir las instituciones de la primera infancia en el Distrito Capital bajo la inspección y vigilancia de la Secretaría Distrital de Integración Social.
                        <br><br>
                        PAFMI - Pedagogías y Terapias del el Afecto y la Imaginación asesora a las instituciones para que cumplan con estos lineamientos especialmente en los siguientes componentes: 

                        <ul>
                            <li><a target="_blank" href="">Procesos administrativos</a></li>
                        </ul>
                        
                        Comprende asesoría en desarrollo organizacional y administración de la información.

                        <ul>
                            <li><a target="_blank" href="">Talento humano</a></li>
                        </ul>

                        Comprende la asesoría en aspectos de bienestar y satisfacción del talento humano e idoneidad a través de conversatorios sobre comunicación asertiva y procesos de selección e inducción al personal.

                        <ul>
                            <li><a target="_blank" href="">Salubridad y nutrición</a></li>
                        </ul>

                        Comprende asesoría en prácticas de cuidado, condiciones   higiénico- sanitarias, buenas prácticas de manufactura, elaboración del plan de saneamiento básico y encuentros con distintos estamentos de la comunidad educativa.

                        <ul>
                            <li><a target="_blank" href="">Procesos pedagógicos</a></li>
                        </ul>
                        
                        Comprende asesoría en implementación de prácticas pedagógicas, acompañamiento en la elaboración del Proyecto Pedagógico y en desarrollo armónico integral y encuentros con distintos estamentos con la comunidad educativa.

                        <ul>
                            <li><a target="_blank" href="">Ambientes adecuados</a></li>
                        </ul>

                        Acompañamiento en la elaboración del plan de emergencias y contingencias. Por otra parte se brinda asesoría en la creación y desarrollo de los protocolos de seguridad.

                        <ul>
                            <li><a target="_blank" href="">Psicología</a></li>
                        </ul>

                        Comprende intervención, seguimientos de caso y encuentros con todos los estamentos de la comunidad educativa. 
                    </div>
                </article>
               <article class="Service-article">
                    <h3 class="Service-articleTitle icon-books">
                        <span>Humanización en Comunidades Hospitalarias</span>
                    </h3>
                    <div class="Service-articleSubTitle">
                        Asesorías sobre construcción de programas institucionales de humanización en comunidades hospitalarias, brindando acompañamiento en los siguientes aspectos, entre otros:
                    </div>
                    <div class="Service-Description">
                        <ul>
                            <li><a target="_blank" href="">Diseño de objetivos en concordancia con el marco legal establecido y el marco conceptual de las políticas de humanización.</a></li>
                            <li><a target="_blank" href="">Diseño de estrategias, ejes estructurales, líneas de intervención y plan de trabajo.</a></li>
                        </ul>
                    </div>
                </article>
               <article class="Service-article">
                    <h3 class="Service-articleTitle icon-books">
                        <span>Atención a Víctimas de Violencia Sexual</span>
                    </h3>
                    <div class="Service-articleSubTitle">
                        Asesorías y seminarios en Atención Integral en Salud a víctimas de violencia sexual.
                    </div>
                    <div class="Service-Description">
                        <ul>
                            <li><a target="_blank" href="">Marco conceptual y normativo para el abordaje integral de la violencia sexual.</a></li>
                            <li><a target="_blank" href="">Valoración y pruebas diagnósticas y forenses en la atención a víctimas de violencia sexual.</a></li>
                            <li><a target="_blank" href="">Intervenciones clínicas y de salud mental en la atención de las víctimas de violencia sexual.</a></li>
                            <li><a target="_blank" href="">Activación de los procesos intersectoriales para la atención de las víctimas de violencia sexual.</a></li>
                        </ul>
                    </div>
                </article>
            </section>
        </div>

        <aside class="SocialAside animated fadeInLeft">
            <ul class="SocialAside-list">
                <li class="SocialAside-item" >
                    <a class="SocialAside-link icon-facebook2" href="https://www.facebook.com/pafmi.pedagogia/" target="_blank"></a>
                </li>
                <li class="SocialAside-item" >
                    <a class="SocialAside-link icon-google-plus2" href="https://plus.google.com/u/0/103526290197815130148/posts" target="_blank"></a>
                </li>
                <li class="SocialAside-item" >
                    <a class="SocialAside-link icon-twitter2" href="https://twitter.com/PAFMI1" target="_blank"></a>
                </li>
                <li class="SocialAside-item" >
                    <a class="SocialAside-link icon-envelop" href="contacto.html"></a>
                </li>
            </ul>
        </aside>

        <footer class="Footer">
            <div class="Footer-div" >
                <h3 class="Footer-Title">PAFMI</h3>
                    Copyright © 2015, Todos los derechos reservados.
            </div>
            <div class="Footer-div">
                <ul class="Footer-list">
                    <li>
                        <span class="icon-location2"></span><p>Bogotá - Colombia</p>
                    </li>
                    <li>
                        <span class="icon-phone"></span><p>3225704</p>
                    </li>
                    <li>
                        <span class="icon-envelop"></span><p>soporte@pafmi.org</p>
                    </li>
                </ul>
            </div>
            <div class="Footer-div">
                <h3 class="Social-Title">
                    Nuestras redes sociales.
                </h3>      
                <ul class="Social-list">
                    <li><a class="icon-facebook3" target="_blank" href="https://www.facebook.com/pafmi.pedagogia/"></a></li>
                    <li><a class="icon-twitter3" target="_blank" href="https://twitter.com/PAFMI1"></a></li>
                    <li><a class="icon-google-plus3" target="_blank" href="https://plus.google.com/u/0/103526290197815130148/posts"></a></li>
                </ul>
                <h4 class="Dev-text">Developed by <a target="_blank" href="https://github.com/JuanJoya">Ing.JuanJoya</a></h4>
            </div>
            <div class="Footer-div Footer-publi">
                <a target="_blank" href="http://www.reddialogodesaberes.org/">
                    <img class="Footer-redisab" src="../Static/Img/redisab.png" height="50" width="100">
                </a>
            </div>
        </footer> 
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="../Static/js/responsiveslides.min.js"></script>
        <script type="text/javascript">    
            $( function() { $(".rslides").responsiveSlides({
                speed:1000, 
                timeout:4500, 
                nav: true,
                namespace: "large-btns"
            }); });
        </script>
    </body>
</html>
